<!DOCTYPE html>
<html lang="">
   <head>
      <title>admin</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
       <link rel="shortcut icon" href="/static/favicon.ico" />
   </head>
<body style="background-color: #e6eef7">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/admin/">Flight Ticket Reservation System&emsp;&emsp;</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/admin/?action=sql">SQL</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <br/><br/><br/>
    <h1 style="text-align: center">{{ s }}</h1>
    {% for i in result %}
   <p style="text-align: center">{{ i }}</p>
    {% endfor %}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
   </body>
</html>