<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register_customer</title>
</head>
<body>
<form  method="post">
  <p>email: <input type="text" name="email" /></p>
    <p>name: <input type="text" name="name" /></p>

  <p>password: <input type="password" name="password" /></p>
        <p>building number: <input type="text" name="building_number" /></p>
    <p>street: <input type="text" name="street" /></p>
    <p>city: <input type="text" name="city" /></p>
    <p>state: <input type="text" name="state" /></p>
    <p>phone number: <input type="number" name="phone_number" /></p>
    <p>passport number: <input type="text" name="passport_number" /></p>
    <p>passport expiration: <input type="date" name="passport_expiration" /></p>
    <p>passport country: <input type="text" name="passport_country" /></p>
    <p>birthday: <input type="date" name="date_of_birth" /></p>
  <input type="submit" value="Register" />
</form>
</body>
</html>