<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register_staff</title>
</head>
<body>
<form  method="post">
  <p>username: <input type="text" name="username" /></p>
  <p>password: <input type="password" name="password" /></p>
    <p>First name: <input type="password" name="password" /></p>
    <p>Last name: <input type="password" name="password" /></p>
    <p>birthday: <input type="password" name="password" /></p>
    <p>password: <input type="password" name="password" /></p>
  <input type="submit" value="Register" />
</form>
</body>
</html>